<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>商家完善资料</title>

    <!-- 引入CSS文件 -->
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <!-- 引入JS文件 -->
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/angularjs/angular.min.js"></script>

    <!-- 引入JS业务代码 -->
    <script type="text/javascript" src="../js/base/base.js"></script>
    <script type="text/javascript" src="../js/service/sellerService.js"></script>
    <script type="text/javascript" src="../js/service/loginService.js"></script>
    <script type="text/javascript" src="../js/controller/baseController.js"></script>
    <script type="text/javascript" src="../js/controller/sellerController.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="plusmall"
      ng-controller="sellerController">
    <!-- 正文区域 -->
    <section class="content">
        <div class="box-body">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#home" data-toggle="tab">修改密码</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <!--表单内容-->
                    <div class="tab-pane active" id="home">
                        <div class="row data-type">
                            <div class="col-md-2 title">原密码</div>
                            <div class="col-md-10 data">
                                <input type="password" class="form-control" ng-blur="checkOrgPwd()" ng-model="orgPwd" placeholder="原密码" value="">
                            </div>

                            <div class="col-md-2 title">新密码</div>
                            <div class="col-md-10 data">
                                <input type="password" class="form-control" ng-blur="checkNewPwd()" ng-model="newPwd" placeholder="新密码" value="">
                            </div>

                            <div class="col-md-2 title">确认新密码</div>
                            <div class="col-md-10 data">
                                <input type="password" class="form-control" ng-blur="checkConfirmNewPwd()" ng-model="confirmNewPwd" placeholder="确认新密码" value="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-toolbar list-toolbar">
          <button class="btn btn-primary" ng-click="updateConfirmNewPwd()">保存</button>
          <a data-toggle="modal" class="btn btn-danger">提交</a>
        </div>
    </section>
</body>

</html>